@use '@assets/styles/vars/colors';

.stock {
  //max-width: none;
  padding-bottom: 110px;
  margin: 0;
  background-color: colors.$additionalColor;
  //max-width: 1216px;

  .stockHeader {
    font-size: 48px;
    font-weight: 700;
    padding: 70px 0 40px 0;
  }

  .stockContent {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-bottom: 40px;
    .firstBanner {
      content: url('/assets/img/stock/firstBanner.svg');
    }
    .secondBanner {
      content: url('/assets/img/stock/secondBanner.svg');
    }
    .thirdBanner {
      content: url('/assets/img/stock/thirdBanner.svg');
    }

    .stockBlock {
      background-color: colors.$whiteColor;
      border-radius: 20px;
      padding: 40px;
      gap: 20px;
      width: 100%;

      .stockTitle {
        font-size: 38px;
        font-weight: 700;
      }

      .stockText {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  .btn{
    padding: 16px 26px;
  }

}

@media (min-width: 992px) and (max-width: 1200px) {
  .stock {
    .stockHeader {
      padding: 60px 0 40px 0;
    }

    .stockContent {
      .firstBanner {
        content: url('/assets/img/stock/firstBanner1000.svg');
      }
      .secondBanner {
        content: url('/assets/img/stock/secondBanner1000.svg');
      }
      .thirdBanner {
        content: url('/assets/img/stock/thirdBanner1000.svg');
      }

      .stockBlock{
        .stockTitle {
          font-size: 32px;
        }

        .stockText {
          font-size: 18px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .stock {
    .stockHeader {
      font-size: 36px;
      padding: 50px 0 40px 0;
    }

    .stockContent {
      .firstBanner {
        content: url('/assets/img/stock/firstBanner768.svg');
      }
      .secondBanner {
        content: url('/assets/img/stock/secondBanner768.svg');
      }
      .thirdBanner {
        content: url('/assets/img/stock/thirdBanner768.svg');
      }

      .stockBlock {
        .stockTitle {
          font-size: 28px;
        }

        .stockText {
          font-size: 16px;
        }
      }
    }

  }
}

@media (max-width: 768px) {
  .stock {
    .stockBlock {
      padding: 20px;
      gap: 16px;
    }

    .stockHeader {
      font-size: 24px;
      padding: 40px 0 30px 0;
    }

    .stockContent{
      .firstBanner {
        content: url('/assets/img/stock/firstBanner320.svg');
        display: flex;
        justify-content: center;
      }
      .secondBanner {
        content: url('/assets/img/stock/secondBanner320.svg');
        display: flex;
        justify-content: center;
      }
      .thirdBanner {
        content: url('/assets/img/stock/thirdBanner320.svg');
        display: flex;
        justify-content: center;
      }

      .stockBlock {
        .stockTitle {
          font-size: 18px;
        }

        .stockText {
          font-size: 14px;
        }
      }
    }
  }
  .btn{
    padding: 12px;
    text-align: center;
    width: 100%;
  }

}

