@use '@assets/styles/vars/colors';

.servicesCardContainer {
  background-color: colors.$additionalColor;

  .card {
    background-color: colors.$whiteColor;
    border-radius: 30px;
    padding: 40px;
    max-width: 392px;

    &Title {
      font-size: 24px;
      font-weight: 600;
      color: colors.$mainTextColor;
      padding-bottom: 12px;
    }

    &Information {
      font-size: 18px;
      font-weight: 500;
      color: colors.$mainColor;
      height: 81px;
      padding-bottom: 48px;
    }

    &Type {
      font-size: 18px;
      font-weight: 500;
      color: colors.$mainColor;
      padding: 4px 20px 4px 20px;
      background-color: colors.$additionalColor;
      border-radius: 82px;
      display: inline-block;
    }
  }
}