@use '@assets/styles/mixins/fontsStyles';
@use '@assets/styles/mixins/fontsFamilies';
@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/breakpoints';

.btn {
  @include fontsStyles.TextXS;
  @include fontsFamilies.FontFamilyManropeSemiBold;
  display: block;

  &SizeM {
    padding: 1em 1.625em; //16px 26px
    border-radius: 6.25em; //100px
  }

  &SizeL {
    padding: 0.9125em 1.25em; //12px 38px
    border-radius: 6.25em; //100px
  }

  &Primary {
    background: colors.$main;
    color: colors.$white;
  }

  &Secondary {
    background: colors.$white;
    color: colors.$main;
  }


  &Outlined {
    background-color: transparent;

    border: 2px solid colors.$main;
    color: colors.$main;
  }

  &:hover {
    opacity: 0.8;
  }

  &:disabled, &.btnDisabled {
    background-color: transparent;
    color: colors.$white;
  }

  &MobileWide {
    @include breakpoints.tablet {
      width: 100%;
    }
  }

  a {
    text-decoration: none;
  }
}
