@mixin DisplayLG {
  font-size: 2.375em; //38px
}

@mixin DisplayMD {
  font-size: 2em; // 32px
}

@mixin TextLG {
  font-size: 1.5em; //24px
}

@mixin TextMD {
  font-size: 1.25em; // 20px
}

@mixin TextXS {
  font-size: 1.125em; //  18px
}

@mixin Text2XS {
  font-size: 1em; //  16px
}

@mixin Text3XS {
  font-size: 0.875em; //  14px
}


