@use '../mixins/fontsStyles';
@use '../mixins/fontsFamilies';
@use '../mixins/breakpoints' as breakpointsMixins;
@use '../vars/colors';
@use '../vars/breakpoints' as breakpointsVars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  color: colors.$text;
  @include fontsFamilies.FontFamilyManropeMedium;
  @include fontsStyles.TextXS;
  background-color: colors.$background;
}

button {
  cursor: pointer;
}

a {
  color: colors.$text;
}

h1 {
  @include fontsStyles.DisplayLG;
  @include fontsFamilies.FontFamilyManropeBold;
}

h2 {
  @include fontsStyles.DisplayLG;
  @include fontsFamilies.FontFamilyManropeBold;
}

h3 {
  @include fontsStyles.TextLG;
  @include fontsFamilies.FontFamilyManropeSemiBold;
}


.container {
  width: 100%;
  max-width: breakpointsVars.$desktop_large;

  padding: 0 20px;
  margin: 0 auto;


  @include breakpointsMixins.desktop_extra_small {
    max-width: initial;
  }
}
