* {
  outline: none;
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
}

$mainColor: #484D72;
$mainTextColor: #16171B;

$additionalColor: #F1F3FF;
$additionalTextColor: #000;

$whiteColor: #fff;







.mainSlider {
  padding: 45px 0 75px;
  background-color: $additionalColor;

  &-slide {
    > div {
      height: 500px !important;
      column-gap: 20px;

      .text {
        background-color: $whiteColor;
        border-radius: 30px;
        padding: 90px 135px 50px 40px;
        position: relative;
        z-index: 0;
        row-gap: 20px;

        .bckgIcon {
          position: absolute;
          z-index: -1;
          bottom: 18px;
          right: 83px;
        }

        &-content {
          row-gap: 22px;

          h2, p {
            color: #131313;
          }

          h2 {
            font-size: 38px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: -0.76px;
          }

          p {
            font-size: 18px;
            font-weight: 500;
            line-height: 150%;
            max-width: 510px;
          }

          .btn {
            padding: 14px 24px;
          }
        }
      }

      .photo {
        border-radius: 30px;
        overflow: hidden;
        width: 100%;
        max-width: 392px;

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .arrows {
        column-gap: 16px;

        .swiper-button-next, .swiper-button-prev {
          width: 40px;
          height: 40px;
          cursor: pointer;
          position: unset;
          margin-top: 0;

          &::after {
            content: unset;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

        span {
          color: $mainColor;
          font-size: 18px;
          font-weight: 600;
          line-height: 120%;
          letter-spacing: -0.36px;
        }
      }
    }
  }
}

.services {
  padding: 75px 0;
  background-color: $additionalColor;

  > div {
    row-gap: 20px;
  }

  &-preHeader {
    p {
      color: $mainTextColor;
      font-size: 24px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.48px;
    }
  }

  &-content {
    row-gap: 40px;
  }

  &-tabs {
    column-gap: 40px;

    &-el {
      color: $mainColor;
      opacity: .5;
      font-size: 38px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: -0.76px;
      transition: opacity .3s ease, color .3s ease;
      position: relative;
      cursor: pointer;

      &::after {
        height: 3px;
        background-color: $mainTextColor;
        opacity: 0;
        transition: opacity .3s ease;
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
      }

      &.active, &.single {
        color: $additionalTextColor;
        opacity: 1;

        &::after {
          opacity: 1;
        }
      }

      &.single {
        cursor: default;

        &::after {
          content: unset;
        }
      }
    }
  }

  &-tabsContent {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    position: relative;
    z-index: 0;

    .onlyImage {
      border-radius: 30px;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
      }
    }

    .additionalImage {
      position: absolute;
      right: 20px;
      top: 70px;
      transform: translate(0, -100%);
      z-index: -1;
      max-height: 190px;

      img {
        height: 100%;
      }
    }

    > div:not(.onlyImage, .additionalImage) {
      background-color: $whiteColor;
      padding: 40px;
      border-radius: 30px;
      min-height: 290px;
      gap: 14px;
      overflow: hidden;

      .text {
        row-gap: 12px;

        h2 {
          color: $mainTextColor;
          font-size: 24px;
          font-weight: 600;
          line-height: 140%;
          letter-spacing: -0.48px;
        }

        p {
          color: $mainColor;
          font-size: 18px;
          font-weight: 500;
          line-height: 150%;
        }
      }

      .badge {
        padding: 4px 20px;
        background-color: $additionalColor;
        border-radius: 30px;

        span {
          color: $mainColor;
          font-size: 18px;
          font-weight: 500;
          line-height: 150%;
        }
      }
    }
  }
}

.favorites, .employeesSlider, .ourWorks, .reviewsSlider, .articles, .about {
  &-header {
    color: $mainTextColor;
    font-size: 38px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.76px;
  }
}

.favorites {
  padding: 75px 0;
  background-color: $additionalColor;

  > div {
    row-gap: 40px;
  }

  &-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    .onlyImage {
      border-radius: 30px;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
      }
    }

    &-el {
      padding: 40px;
      border-radius: 30px;
      background-color: $whiteColor;
      row-gap: 40px;

      .text {
        row-gap: 14px;

        &-header {
          color: $mainTextColor;
          font-size: 24px;
          font-weight: 600;
          line-height: 140%;
          letter-spacing: -0.48px;
        }

        &-description {
          color: $mainColor;
          font-size: 18px;
          font-weight: 500;
          line-height: 150%;
        }
      }

      .photo {
        img {
          width: 64px;
          height: 64px;
        }
      }

      &.dark {
        background-color: $mainColor;
        grid-column: span 2;

        .text {
          &-header, &-description {
            color: $whiteColor;
          }
        }
      }
    }
  }
}

.employeesSlider {
  padding: 75px 0;
  background-color: $additionalColor;
  overflow: hidden;

  > div {
    row-gap: 40px;
  }

  .swiper {
    overflow: visible;
  }

  .arrows {
    column-gap: 16px;

    .swiper-button-next, .swiper-button-prev {
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: unset;
      margin-top: 0;
      user-select: none;

      &::after {
        content: unset;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-slide {
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    max-height: 490px;
    max-width: 320px;

    .photo {
      width: 100%;
      height: 100%;
      user-select: none;
      border-radius: 0 0 35px 35px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    .info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 30px 30px 0 0;
      padding: 30px;
      background-color: $whiteColor;
      min-height: 180px;
      row-gap: 20px;

      &-text {
        row-gap: 6px;

        &-name {
          color: $mainTextColor;
          font-size: 24px;
          font-weight: 600;
          line-height: 120%;
          letter-spacing: -0.48px;
        }

        &-position {
          color: $mainColor;
          font-size: 18px;
          font-weight: 500;
          line-height: 130%;
        }
      }

      &-badge {
        border-radius: 82px;
        background: $additionalColor;
        padding: 4px 12px;

        p {
          color: $mainColor;
          font-size: 18px;
          font-weight: 500;
          line-height: 130%;
        }
      }
    }
  }
}

.ourWorks {
  padding: 75px 0;
  background-color: $additionalColor;
  overflow: hidden;

  &-headerWrap {
    column-gap: 20px;
  }

  .arrows {
    column-gap: 16px;

    .swiper-button-next, .swiper-button-prev {
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: unset;
      margin-top: 0;
      user-select: none;

      &::after {
        content: unset;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    span {
      color: $mainColor;
      font-size: 18px;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -0.36px;
    }
  }

  &-content {
    row-gap: 40px;
    padding: 50px;
    background-color: $whiteColor;
    border-radius: 30px;
  }

  .swiper {
    width: 100%;
  }

  &-slide {
    width: 100%;
    column-gap: 40px;

    .compare {
      position: relative;
      min-height: 215px;
      min-width: 350px;
      width: 100%;
      border-radius: 30px;
      overflow: hidden;

      > div {
        height: 100% !important;
      }

      &-handler {
        width: 70px;
        height: 70px;
        border-radius: 100px;
        background-color: #F1F3FF;

        img {
          width: 44px;
          height: 44px;
        }
      }
    }

    .compareWrap {
      row-gap: 20px;

      .compare {
        height: 100%;
      }
    }

    .textWrap {
      column-gap: 40px;
    }

    .description {
      row-gap: 20px;
      max-width: 300px;

      &-header {
        p {
          color: $additionalTextColor;
          font-size: 20px;
          font-weight: 600;
          line-height: 140%;
          letter-spacing: -0.4px;
        }
      }

      &-text {
        p {
          color: $mainColor;
          font-size: 16px;
          font-weight: 500;
          line-height: 150%;
        }
      }

      &-content {
        row-gap: 10px;
      }
    }

    .person {
      column-gap: 12px;

      &-avatar {
        width: 63px;
        height: 63px;
        border-radius: 100px;
        background-size: 125%;
        background-position: center 20%;
      }

      &-text {
        row-gap: 2px;

        &-position {
          color: $mainColor;
          font-size: 16px;
          font-weight: 600;
          line-height: 150%;
        }

        &-name {
          color: $additionalTextColor;
          font-size: 18px;
          font-weight: 600;
          line-height: 110%;
        }
      }
    }
  }
}

.reviewsSlider {
  padding: 75px 0;
  background-color: $additionalColor;
  overflow: hidden;

  > div {
    row-gap: 40px;
  }

  .swiper {
    overflow: visible;
  }

  .arrows {
    column-gap: 16px;

    .swiper-button-next, .swiper-button-prev {
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: unset;
      margin-top: 0;
      user-select: none;

      &::after {
        content: unset;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-slide {
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    max-height: 490px;
    max-width: 320px;

    .photo {
      width: 100%;
      height: 100%;
      user-select: none;
      border-radius: 0 0 35px 35px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.articles {
  padding: 75px 0;
  background-color: $additionalColor;

  > div {
    row-gap: 40px;
  }

  .btn.btn-trnsp-dark {
    padding: 16px 26px;
  }

  &-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    &-el {
      border-radius: 30px;
      overflow: hidden;
      position: relative;
      max-height: 490px;

      .photo {
        width: 100%;
        height: 100%;
        user-select: none;
        border-radius: 0 0 35px 35px;
        overflow: hidden;

        img {
          width: 100%;
          height: 80%;
          object-fit: cover;
          object-position: top center;
        }
      }

      .text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 30px 30px 0 0;
        padding: 30px;
        background-color: $whiteColor;
        min-height: 160px;
        row-gap: 8px;

        &-header {
          color: $mainTextColor;
          font-size: 24px;
          font-weight: 600;
          line-height: 120%;
          letter-spacing: -0.48px;
        }

        &-date {
          color: $mainColor;
          font-size: 18px;
          font-weight: 500;
          line-height: 130%;
        }
      }
    }
  }
}

.about {
  padding: 75px 0;
  background-color: $additionalColor;
  overflow: hidden;

  > div {
    row-gap: 50px;
  }

  .swiper {
    overflow: visible;
    width: 100%;
  }

  &-headerWrap {
    column-gap: 40px;
  }

  &-description {
    color: #484D72;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    max-width: 710px;
    width: 80%;
  }

  &-slide {
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    width: auto !important;

    img {
      max-height: 360px;
      max-width: 600px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.contactsBlock {
  padding: 75px 0 150px;
  background-color: $additionalColor;

  &-mapWrap {
    position: relative;
    z-index: 0;
  }

  &-map {
    width: 100%;
    min-height: 650px;
    border-radius: 30px;
    overflow: hidden;
    z-index: -1;
  }

  &-info {
    row-gap: 8px;
    padding: 40px;
    border-radius: 30px;
    overflow: hidden;
    background-color: $whiteColor;
    position: absolute;
    top: 40px;
    left: 40px;

    &-header {
      color: $mainTextColor;
      font-size: 30px;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: -0.6px;
    }

    &-contact {
      color: $mainTextColor;
      font-size: 20px;
      font-weight: 500;
      line-height: 150%;
    }

    &-time {
      color: $mainColor;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
    }
  }
}



.ask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1100;
  overflow: hidden;

  &.active {
    display: flex;

    .ask-block {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  &-overlay {
    position: absolute;
    cursor: pointer;
    z-index: -1;
    background-color: rgba(53, 53, 53, 0.60);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &-block {
    max-width: 1025px;
    position: relative;
    width: calc(100% - 40px);
    padding: 50px;
    background-color: $whiteColor;
    border-radius: 30px;
    column-gap: 55px;
    opacity: 0;
    transform: translate(0, -100px);
    transition: transform .3s ease, opacity .3s ease;

    &-text {
      row-gap: 30px;
    }

    &-image {
      background-size: cover;
      background-position: center;
      border-radius: 30px;
      max-width: 340px;
    }

    .text {
      row-gap: 20px;

      .request {
        color: $mainTextColor;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.68px;
      }

      .request2 {
        color: $mainColor;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
      }
    }

    form {
      margin-bottom: 0;
      row-gap: 20px;

      > div {
        row-gap: 20px;
      }

      .ask-block-fields {
        width: 100%;
        row-gap: 20px;

        input {
          padding: 14px 15px 14px 30px;
          background: #FFFFFF;
          border-radius: 60px;
          border: 1px solid $mainColor;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          width: 100%;
          color: $mainColor;

          &::placeholder {
            color: $mainColor;
            opacity: .6;
          }
        }

        #ask {
          padding: 12px 13px;
        }

        > div {
          width: 100%;
          position: relative;
        }
      }

      .btn {
        padding: 10px 15px;
      }

      p.text-center {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #999999;
        margin: 0;

        a {
          color: #999999;
          text-decoration: underline;
        }
      }
    }
  }
}

.doctorsСontainer{
  padding-top: 50px;
  background-color: $additionalColor;
}



@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: none;
    padding: 0 20px;
    margin: 0;
  }

  .ask {
    &-block {
      column-gap: 50px;

      &-text {
        row-gap: 30px;
      }

      &-image {
        min-width: 340px;
      }
    }
  }

  .mainSlider {
    padding: 35px 0 75px;

    &-slide {
      > div {
        .text {
          padding: 50px 55px 50px 40px;

          .bckgIcon {
            bottom: 23px;
            right: 40px;
          }

          &-content {
            p {
              max-width: unset;
            }
          }
        }
      }
    }
  }

  .services {
    &-tabsContent {
      grid-template-columns: 1fr 1fr;

      > div:not(.onlyImage, .additionalImage) {
        min-height: 275px;
      }

      .additionalImage {
        right: 30px;
        top: 35px;

        img {
          max-height: 180px;
        }
      }
    }
  }

  .ourWorks {
    &-content {
      row-gap: 30px;
      padding: 50px;
    }

    &-slide {
      column-gap: 50px;

      .compareWrap {
        row-gap: 20px;
        width: 100%;

        .compare {
          min-width: 300px;
          min-height: 220px;
          height: 100%;
        }
      }

      .compare {
        &-handler {
          width: 52px;
          height: 48px;

          img {
            width: 33px;
            height: 33px;
          }
        }
      }

      .description {
        row-gap: 40px;
        max-width: unset;
      }
    }
  }

}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: none;
    padding: 0 20px;
    margin: 0;
  }

  .btn {
    font-size: 16px;
  }

  .ask {
    &-block {
      padding: 40px;
      column-gap: 50px;

      &-text {
        row-gap: 30px;
      }

      &-image {
        border-radius: 30px;
        max-width: 280px;
        min-width: 275px;
      }

      .text {
        row-gap: 10px;

        .request {
          font-size: 28px;
          letter-spacing: -0.56px;
        }

        .request2 {
          font-size: 16px;
        }
      }

      form {
        row-gap: 30px;

        > div {
          row-gap: 20px;
        }

        .ask-block-fields {
          row-gap: 20px;
        }

        .btn {
          padding: 10px 15px;
        }
      }
    }
  }

  .favorites, .employeesSlider, .ourWorks, .reviewsSlider, .articles, .about {
    &-header {
      font-size: 28px;
      letter-spacing: -0.56px;
    }
  }

  .favorites {
    padding: 55px 0;

    &-content {
      grid-template-columns: 1fr 1fr;
      gap: 16px;

      .onlyImage {
        min-height: 210px;
      }

      &-el {
        padding: 30px;
        column-gap: 30px;
        grid-column: span 2;

        .text {
          row-gap: 8px;

          &-header {
            font-size: 22px;
            letter-spacing: -0.44px;
          }

          &-description {
            font-size: 16px;
          }
        }

        .photo {
          img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }

  .mainSlider {
    padding: 25px 0 55px;

    &-slide {
      > div {
        column-gap: 18px;

        .text {
          padding: 50px 40px;

          .bckgIcon {
            bottom: 47px;
            right: 31px;
          }

          &-content {
            row-gap: 22px;

            h2 {
              font-size: 27px;
            }

            p {
              font-size: 16px;
            }
          }
        }

        .photo {
          max-width: 302px;

          img {
            height: 100%;
          }
        }
      }
    }
  }

  .services {
    padding: 55px 0;

    > div {
      row-gap: 26px;
    }

    &-preHeader {
      p {
        color: $mainTextColor;
        font-size: 20px;
        letter-spacing: -0.4px;
      }
    }

    &-content {
      row-gap: 52px;
    }

    &-tabs {
      &-el {
        font-size: 28px;
        letter-spacing: -0.56px;

        &::after {
          height: 2.5px;
        }
      }
    }

    &-tabsContent {
      grid-template-columns: 1fr 1fr;
      gap: 16px;

      > div:not(.onlyImage, .additionalImage) {
        background-color: $whiteColor;
        padding: 30px;
        min-height: 225px;
        gap: 14px;

        .text {
          row-gap: 8px;

          h2 {
            font-size: 22px;
            letter-spacing: -0.44px;
          }

          p {
            font-size: 16px;
          }
        }

        .badge {
          border-radius: 82px;

          span {
            font-size: 16px;
          }
        }
      }

      .additionalImage {
        right: 5px;
        top: 30px;

        img {
          max-height: 145px;
        }
      }
    }
  }

  .employeesSlider {
    padding: 55px 0;

    > div {
      row-gap: 40px;
    }

    .swiper {
      overflow: visible;
    }

    &-slide {
      .info {
        &-text {
          &-name {
            font-size: 22px;
            letter-spacing: -0.44px;
          }

          &-position {
            font-size: 16px;
          }
        }

        &-badge {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }

  .ourWorks {
    padding: 55px 0;

    &-content {
      padding: 50px 40px;
    }

    &-slide {
      row-gap: 40px;

      .compare {
        width: 445px;
      }

      .compareWrap {
        row-gap: 20px;

        .compare {
          height: 315px;
        }
      }

      .textWrap {
        column-gap: 40px;
      }

      .description {
        row-gap: 20px;
        max-width: unset;
        width: 50%;
      }
    }
  }

  .reviewsSlider {
    padding: 55px 0;

    > div {
      row-gap: 40px;
    }

    .swiper {
      overflow: visible;
    }
  }

  .articles {
    padding: 55px 0;

    > div {
      row-gap: 50px;
    }

    &-content {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      &-el {
        .text {
          min-height: 165px;

          &-header {
            font-size: 22px;
            letter-spacing: -0.44px;
          }

          &-date {
            font-size: 18px;
          }
        }
      }
    }
  }

  .about {
    padding: 55px 0;

    > div {
      row-gap: 40px;
    }

    &-headerWrap {
      row-gap: 20px;
    }

    &-description {
      max-width: unset;
      width: 100%;
    }

    &-slide {
      border-radius: 40px;
    }
  }

  .contactsBlock {
    padding: 55px 0 110px;

    &-map {
      min-height: 440px;
    }

    &-info {
      &-header {
        font-size: 28px;
        letter-spacing: -0.56px;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: none;
    padding: 0 20px;
    margin: 0;
  }

  .btn {
    font-size: 14px;
  }

  .ask {
    &-block {
      padding: 30px 20px;
      max-width: 350px;

      &-text {
        row-gap: 16px;
      }

      .text {
        row-gap: 8px;

        .request {
          font-size: 20px;
          letter-spacing: -0.4px;
        }

        .request2 {
          font-size: 14px;
        }
      }

      form {
        row-gap: 8px;

        > div {
          row-gap: 8px;
        }

        .ask-block-fields {
          row-gap: 8px;
        }

        .btn {
          padding: 10px 13px;
        }
      }
    }
  }





  .mainSlider {
    padding: 50px 0 40px;
    background-color: $additionalColor;

    &-slide {
      > div {
        height: unset !important;
        row-gap: 16px;
        background-color: $whiteColor;
        border-radius: 20px;
        padding: 30px 20px;

        .text {
          padding: unset;

          &-content {
            row-gap: 8px;

            h2 {
              font-size: 20px;
              letter-spacing: -0.9px;
            }

            p {
              font-size: 14px;
              max-width: unset;
            }

            .btnWrap {
              padding-top: 12px;

              .btn {
                padding: 10px 24px;
              }
            }
          }
        }

        .photo {
          border-radius: 20px;
          max-width: unset;

          img {
            aspect-ratio: 1 / 1;
            object-position: top;
          }
        }

        .arrows {
          .swiper-button-next, .swiper-button-prev {
            width: 32px;
            height: 32px;
          }

          span {
            font-size: 14.4px;
            letter-spacing: -0.288px;
          }
        }
      }
    }
  }

  .services {
    padding: 40px 0;

    > div {
      row-gap: 16px;
    }

    &-preHeader {
      p {
        font-size: 16px;
        letter-spacing: -0.32px;
      }
    }

    &-content {
      row-gap: 32px;
    }

    &-tabs {
      column-gap: 20px;

      &-el {
        font-size: 20px;
        letter-spacing: -0.4px;

        &::after {
          height: 2px;
          bottom: -8px;
        }
      }
    }

    &-tabsContent {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      gap: 12px;

      .onlyImage {
        border-radius: 20px;
        min-height: 150px;
      }

      > div:not(.onlyImage) {
        padding: 20px;
        border-radius: 20px;
        min-height: 150px;
        gap: 10px;

        .text {
          row-gap: 4px;

          h2 {
            font-size: 18px;
            letter-spacing: -0.36px;
          }

          p {
            font-size: 14px;
          }
        }

        .badge {
          border-radius: 82px;

          span {
            font-size: 14px;
          }
        }
      }
    }
  }

  .favorites, .employeesSlider, .ourWorks, .reviewsSlider, .articles, .about {
    &-header {
      font-size: 20px;
      letter-spacing: -0.4px;
    }
  }

  .favorites {
    padding: 40px 0;

    > div {
      row-gap: 20px;
    }

    &-content {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      gap: 12px;

      .onlyImage {
        border-radius: 20px;
        min-height: 210px;
      }

      &-el {
        padding: 20px;
        border-radius: 20px;
        row-gap: 16px;

        .text {
          row-gap: 8px;

          &-header {
            font-size: 18px;
            letter-spacing: -0.36px;
          }

          &-description {
            font-size: 14px;
          }
        }

        .photo {
          img {
            width: 40px;
            height: 40px;
          }
        }

        &.dark {
          grid-column: unset;
        }
      }
    }
  }

  .employeesSlider {
    padding: 40px 0;

    > div {
      row-gap: 20px;
    }

    &-slide {
      border-radius: 20px;
      max-height: 395px;
      max-width: 260px;

      .info {
        border-radius: 20px 20px 0 0;
        padding: 24px;
        min-height: 145px;

        &-text {
          row-gap: 5px;

          &-name {
            font-size: 18px;
            letter-spacing: -0.36px;
          }

          &-position {
            font-size: 14px;
          }
        }

        &-badge {
          border-radius: 82px;
          padding: 3px 10px;

          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .ourWorks {
    padding: 40px 0;

    &-headerWrap {
      row-gap: 20px;
    }

    .arrows {
      column-gap: 12px;

      .swiper-button-next, .swiper-button-prev {
        width: 32px;
        height: 32px;
      }

      span {
        font-size: 14px;
        letter-spacing: -0.28px;
      }
    }

    &-content {
      row-gap: 20px;
      padding: 30px 20px;
      border-radius: 20px;
    }

    &-slide {
      width: 100%;
      row-gap: 16px;

      .compare {
        position: relative;
        min-height: 215px;
        min-width: unset;
        width: 100%;
        border-radius: 30px;
        overflow: hidden;
        aspect-ratio: 2/1;

        &-handler {
          width: 37px;
          height: 37px;

          img {
            width: 24px;
            height: 24px;
          }
        }
      }

      .compareWrap {
        row-gap: 20px;
      }

      .textWrap {
        row-gap: 16px;
      }

      .description {
        row-gap: 16px;
        max-width: unset;

        &-header {
          p {
            font-size: 18px;
            letter-spacing: -0.36px;
          }
        }

        &-text {
          p {
            font-size: 14px;
          }
        }

        &-content {
          row-gap: 10px;
        }
      }

      .person {
        &-avatar {
          width: 55px;
          height: 55px;
        }

        &-text {
          &-position {
            font-size: 14px;
          }

          &-name {
            font-size: 16px;
          }
        }
      }
    }
  }

  .reviewsSlider {
    padding: 40px 0;

    > div {
      row-gap: 20px;
    }

    &-slide {
      border-radius: 20px;
      max-height: 395px;
      max-width: 260px;
    }
  }

  .articles {
    padding: 40px 0;

    > div {
      row-gap: 20px;
    }

    .btn.btn-trnsp-dark {
      padding: 12px 26px;
    }

    &-content {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      gap: 16px;

      &-el {
        border-radius: 20px;
        min-height: 260px;

        .text {
          border-radius: 20px 20px 0 0;
          padding: 20px;
          min-height: 120px;

          &-header {
            font-size: 18px;
            letter-spacing: -0.36px;
          }

          &-date {
            font-size: 14px;
          }
        }
      }
    }
  }

  .about {
    padding: 40px 0;

    > div {
      row-gap: 30px;
    }

    &-headerWrap {
      row-gap: 10px;
    }

    &-description {
      max-width: unset;
      width: 100%;

      p {
        font-size: 14px;
      }
    }

    &-slide {
      border-radius: 20px;

      img {
        max-width: 100%;
        max-height: 170px;
      }
    }
  }

  .contactsBlock {
    padding: 40px 0 80px;

    &-map {
      min-height: 440px;
      border-radius: 20px;
      max-height: 550px;
    }

    &-info {
      row-gap: 8px;
      padding: 20px;
      border-radius: 20px;
      top: unset;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 55px;
      max-width: 260px;
      width: 100%;

      &-header {
        font-size: 20px;
        letter-spacing: -0.4px;
      }

      &-contact {
        font-size: 14px;
      }

      &-time {
        font-size: 12px;
      }
    }
  }



}