@charset "UTF-8";
* {
  outline: none;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  padding: 8px 13px;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.36px;
  cursor: pointer;
  border: 2px solid #484D72;
  border-radius: 100px;
}
.btn span {
  margin-bottom: 0;
  user-select: none;
}

.btn-dark-trnsp {
  background-color: #484D72;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-dark-trnsp:hover {
  color: #484D72;
  background-color: transparent;
}
.btn-trnsp-dark {
  background-color: transparent;
  color: #484D72;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.btn-trnsp-dark:hover {
  color: #fff;
  background-color: #484D72;
}
.btn-white-trnsp {
  background-color: #fff;
  color: #484D72;
  border: 2px solid #fff;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.btn-white-trnsp:hover {
  color: #fff;
  background-color: transparent;
}

.header {
  background-color: #F1F3FF;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px 0;
  z-index: 100;
}
.header-logo img {
  height: 51px;
}
.header-links {
  column-gap: 25px;
}
.header-links .link {
  column-gap: 5px;
  position: relative;
}
.header-links .link span {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 110%;
}
.header-links .link img {
  width: 24px;
  height: 24px;
}
.header-links .link-menu {
  position: absolute;
  top: -100px;
  left: 50%;
  min-width: 352px;
  padding-top: 10px;
  transform: translate(-50%, -100%);
  transition: top 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  z-index: 1;
}
.header-links .link-menu .content {
  row-gap: 20px;
  border-radius: 30px;
  background-color: #fff;
  padding: 50px 40px;
}
.header-links .link-menu .content-bigLink span {
  color: #16171B;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.64px;
}
.header-links .link-menu .content-additionalLinks {
  row-gap: 5px;
}
.header-links .link-menu .content-additionalLinks > div span {
  color: #16171B;
  font-size: 20px;
  font-weight: 500;
  line-height: 110%;
}
.header-links .link:hover .link-menu {
  top: 100%;
  transform: translate(-50%, 0);
  pointer-events: auto;
}
.header-additional {
  column-gap: 30px;
}
.header-additional .contacts {
  column-gap: 20px;
}
.header-additional .contacts-phone span {
  color: #16171B;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}
.header-additional .contacts .btn {
  padding: 10px 18px;
  min-width: 178px;
}
.header-additional .sidenavTrigger {
  display: block;
  position: relative;
  width: 34px;
  height: 21px;
  cursor: pointer;
}
.header-additional .sidenavTrigger div, .header-additional .sidenavTrigger::before, .header-additional .sidenavTrigger::after {
  width: 34px;
  height: 3px;
  background: #484D72;
  content: "";
  border-radius: 10px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  transition-delay: 0.3s;
}
.sidebar.open {
  pointer-events: auto;
  opacity: 1;
  transition-delay: 0s;
}
.sidebar.open .sidebar-content {
  right: 0;
  transition-delay: 0.3s;
}
.sidebar-bckg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4392156863);
  cursor: pointer;
}
.sidebar .closer {
  position: absolute;
  top: 30px;
  right: 37px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}
.sidebar .closer::after, .sidebar .closer::before {
  position: absolute;
  content: "";
  background-color: #484D72;
  width: 22px;
  height: 3px;
  border-radius: 20px;
}
.sidebar .closer::after {
  transform: rotate(45deg);
}
.sidebar .closer::before {
  transform: rotate(-45deg);
}
.sidebar-content {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: -500px;
  bottom: 0;
  width: 100%;
  max-width: 340px;
  padding: 20px 40px 20px 20px;
  row-gap: 20px;
  border-radius: 30px 0 0 30px;
  overflow-y: auto;
  transition: right 0.3s ease;
  transition-delay: 0s;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sidebar-content::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
  background: transparent;
}
.sidebar-content::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
  background: transparent;
}
.sidebar-content::-webkit-scrollbar-thumb {
  width: 0;
  display: none;
  background: transparent;
}
.sidebar-content .menu {
  row-gap: 20px;
}
.sidebar-content .menu-logo {
  height: 45px;
}
.sidebar-content .menu-links {
  row-gap: 8px;
}
.sidebar-content .menu-links_header {
  color: #131313;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.4px;
}
.sidebar-content .menu-links_link {
  color: #16171B;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
}
.sidebar-content .contacts {
  row-gap: 16px;
}
.sidebar-content .contacts-info {
  row-gap: 8px;
}
.sidebar-content .contacts-info_link {
  column-gap: 12px;
}
.sidebar-content .contacts-info_link img {
  width: 20px;
  height: 20px;
}
.sidebar-content .contacts-info_link p {
  color: #16171B;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}
.sidebar-content .contacts-info_time p {
  color: #484D72;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
}
.sidebar-content .contacts .btn {
  font-size: 14px;
}

.mainSlider {
  padding: 45px 0 75px;
  background-color: #F1F3FF;
}
.mainSlider-slide > div {
  height: 500px !important;
  column-gap: 20px;
}
.mainSlider-slide > div .text {
  background-color: #fff;
  border-radius: 30px;
  padding: 90px 135px 50px 40px;
  position: relative;
  z-index: 0;
  row-gap: 20px;
}
.mainSlider-slide > div .text .bckgIcon {
  position: absolute;
  z-index: -1;
  bottom: 18px;
  right: 83px;
}
.mainSlider-slide > div .text-content {
  row-gap: 22px;
}
.mainSlider-slide > div .text-content h2, .mainSlider-slide > div .text-content p {
  color: #131313;
}
.mainSlider-slide > div .text-content h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.76px;
}
.mainSlider-slide > div .text-content p {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  max-width: 510px;
}
.mainSlider-slide > div .text-content .btn {
  padding: 14px 24px;
}
.mainSlider-slide > div .photo {
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
  max-width: 392px;
}
.mainSlider-slide > div .photo img {
  object-fit: cover;
  width: 100%;
}
.mainSlider-slide > div .arrows {
  column-gap: 16px;
}
.mainSlider-slide > div .arrows .swiper-button-next, .mainSlider-slide > div .arrows .swiper-button-prev {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: unset;
  margin-top: 0;
}
.mainSlider-slide > div .arrows .swiper-button-next::after, .mainSlider-slide > div .arrows .swiper-button-prev::after {
  content: unset;
}
.mainSlider-slide > div .arrows .swiper-button-next img, .mainSlider-slide > div .arrows .swiper-button-prev img {
  width: 100%;
  height: 100%;
}
.mainSlider-slide > div .arrows span {
  color: #484D72;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.36px;
}

.services {
  padding: 75px 0;
  background-color: #F1F3FF;
}
.services > div {
  row-gap: 20px;
}
.services-preHeader p {
  color: #16171B;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.48px;
}
.services-content {
  row-gap: 40px;
}
.services-tabs {
  column-gap: 40px;
}
.services-tabs-el {
  color: #484D72;
  opacity: 0.5;
  font-size: 38px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.76px;
  transition: opacity 0.3s ease, color 0.3s ease;
  position: relative;
  cursor: pointer;
}
.services-tabs-el::after {
  height: 3px;
  background-color: #16171B;
  opacity: 0;
  transition: opacity 0.3s ease;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
}
.services-tabs-el.active, .services-tabs-el.single {
  color: #000;
  opacity: 1;
}
.services-tabs-el.active::after, .services-tabs-el.single::after {
  opacity: 1;
}
.services-tabs-el.single {
  cursor: default;
}
.services-tabs-el.single::after {
  content: unset;
}
.services-tabsContent {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  position: relative;
  z-index: 0;
}
.services-tabsContent .onlyImage {
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.services-tabsContent .onlyImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}
.services-tabsContent .additionalImage {
  position: absolute;
  right: 20px;
  top: 70px;
  transform: translate(0, -100%);
  z-index: -1;
  max-height: 190px;
}
.services-tabsContent .additionalImage img {
  height: 100%;
}
.services-tabsContent > div:not(.onlyImage, .additionalImage) {
  background-color: #fff;
  padding: 40px;
  border-radius: 30px;
  min-height: 290px;
  gap: 14px;
  overflow: hidden;
}
.services-tabsContent > div:not(.onlyImage, .additionalImage) .text {
  row-gap: 12px;
}
.services-tabsContent > div:not(.onlyImage, .additionalImage) .text h2 {
  color: #16171B;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.48px;
}
.services-tabsContent > div:not(.onlyImage, .additionalImage) .text p {
  color: #484D72;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
.services-tabsContent > div:not(.onlyImage, .additionalImage) .badge {
  padding: 4px 20px;
  background-color: #F1F3FF;
  border-radius: 30px;
}
.services-tabsContent > div:not(.onlyImage, .additionalImage) .badge span {
  color: #484D72;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.favorites-header, .employeesSlider-header, .ourWorks-header, .reviewsSlider-header, .articles-header, .about-header {
  color: #16171B;
  font-size: 38px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.76px;
}

.favorites {
  padding: 75px 0;
  background-color: #F1F3FF;
}
.favorites > div {
  row-gap: 40px;
}
.favorites-content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.favorites-content .onlyImage {
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.favorites-content .onlyImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}
.favorites-content-el {
  padding: 40px;
  border-radius: 30px;
  background-color: #fff;
  row-gap: 40px;
}
.favorites-content-el .text {
  row-gap: 14px;
}
.favorites-content-el .text-header {
  color: #16171B;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.48px;
}
.favorites-content-el .text-description {
  color: #484D72;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
.favorites-content-el .photo img {
  width: 64px;
  height: 64px;
}
.favorites-content-el.dark {
  background-color: #484D72;
  grid-column: span 2;
}
.favorites-content-el.dark .text-header, .favorites-content-el.dark .text-description {
  color: #fff;
}

.employeesSlider {
  padding: 75px 0;
  background-color: #F1F3FF;
  overflow: hidden;
}
.employeesSlider > div {
  row-gap: 40px;
}
.employeesSlider .swiper {
  overflow: visible;
}
.employeesSlider .arrows {
  column-gap: 16px;
}
.employeesSlider .arrows .swiper-button-next, .employeesSlider .arrows .swiper-button-prev {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: unset;
  margin-top: 0;
  user-select: none;
}
.employeesSlider .arrows .swiper-button-next::after, .employeesSlider .arrows .swiper-button-prev::after {
  content: unset;
}
.employeesSlider .arrows .swiper-button-next img, .employeesSlider .arrows .swiper-button-prev img {
  width: 100%;
  height: 100%;
}
.employeesSlider-slide {
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  max-height: 490px;
  max-width: 320px;
}
.employeesSlider-slide .photo {
  width: 100%;
  height: 100%;
  user-select: none;
  border-radius: 0 0 35px 35px;
  overflow: hidden;
}
.employeesSlider-slide .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.employeesSlider-slide .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px 30px 0 0;
  padding: 30px;
  background-color: #fff;
  min-height: 180px;
  row-gap: 20px;
}
.employeesSlider-slide .info-text {
  row-gap: 6px;
}
.employeesSlider-slide .info-text-name {
  color: #16171B;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.48px;
}
.employeesSlider-slide .info-text-position {
  color: #484D72;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}
.employeesSlider-slide .info-badge {
  border-radius: 82px;
  background: #F1F3FF;
  padding: 4px 12px;
}
.employeesSlider-slide .info-badge p {
  color: #484D72;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}

.ourWorks {
  padding: 75px 0;
  background-color: #F1F3FF;
  overflow: hidden;
}
.ourWorks-headerWrap {
  column-gap: 20px;
}
.ourWorks .arrows {
  column-gap: 16px;
}
.ourWorks .arrows .swiper-button-next, .ourWorks .arrows .swiper-button-prev {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: unset;
  margin-top: 0;
  user-select: none;
}
.ourWorks .arrows .swiper-button-next::after, .ourWorks .arrows .swiper-button-prev::after {
  content: unset;
}
.ourWorks .arrows .swiper-button-next img, .ourWorks .arrows .swiper-button-prev img {
  width: 100%;
  height: 100%;
}
.ourWorks .arrows span {
  color: #484D72;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.36px;
}
.ourWorks-content {
  row-gap: 40px;
  padding: 50px;
  background-color: #fff;
  border-radius: 30px;
}
.ourWorks .swiper {
  width: 100%;
}
.ourWorks-slide {
  width: 100%;
  column-gap: 40px;
}
.ourWorks-slide .compare {
  position: relative;
  min-height: 215px;
  min-width: 350px;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}
.ourWorks-slide .compare > div {
  height: 100% !important;
}
.ourWorks-slide .compare-handler {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-color: #F1F3FF;
}
.ourWorks-slide .compare-handler img {
  width: 44px;
  height: 44px;
}
.ourWorks-slide .compareWrap {
  row-gap: 20px;
}
.ourWorks-slide .compareWrap .compare {
  height: 100%;
}
.ourWorks-slide .textWrap {
  column-gap: 40px;
}
.ourWorks-slide .description {
  row-gap: 20px;
  max-width: 300px;
}
.ourWorks-slide .description-header p {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.4px;
}
.ourWorks-slide .description-text p {
  color: #484D72;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.ourWorks-slide .description-content {
  row-gap: 10px;
}
.ourWorks-slide .person {
  column-gap: 12px;
}
.ourWorks-slide .person-avatar {
  width: 63px;
  height: 63px;
  border-radius: 100px;
  background-size: 125%;
  background-position: center 20%;
}
.ourWorks-slide .person-text {
  row-gap: 2px;
}
.ourWorks-slide .person-text-position {
  color: #484D72;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.ourWorks-slide .person-text-name {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 110%;
}

.reviewsSlider {
  padding: 75px 0;
  background-color: #F1F3FF;
  overflow: hidden;
}
.reviewsSlider > div {
  row-gap: 40px;
}
.reviewsSlider .swiper {
  overflow: visible;
}
.reviewsSlider .arrows {
  column-gap: 16px;
}
.reviewsSlider .arrows .swiper-button-next, .reviewsSlider .arrows .swiper-button-prev {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: unset;
  margin-top: 0;
  user-select: none;
}
.reviewsSlider .arrows .swiper-button-next::after, .reviewsSlider .arrows .swiper-button-prev::after {
  content: unset;
}
.reviewsSlider .arrows .swiper-button-next img, .reviewsSlider .arrows .swiper-button-prev img {
  width: 100%;
  height: 100%;
}
.reviewsSlider-slide {
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  max-height: 490px;
  max-width: 320px;
}
.reviewsSlider-slide .photo {
  width: 100%;
  height: 100%;
  user-select: none;
  border-radius: 0 0 35px 35px;
  overflow: hidden;
}
.reviewsSlider-slide .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.reviewsSlider-slide .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.articles {
  padding: 75px 0;
  background-color: #F1F3FF;
}
.articles > div {
  row-gap: 40px;
}
.articles .btn.btn-trnsp-dark {
  padding: 16px 26px;
}
.articles-content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.articles-content-el {
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  max-height: 490px;
}
.articles-content-el .photo {
  width: 100%;
  height: 100%;
  user-select: none;
  border-radius: 0 0 35px 35px;
  overflow: hidden;
}
.articles-content-el .photo img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: top center;
}
.articles-content-el .text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px 30px 0 0;
  padding: 30px;
  background-color: #fff;
  min-height: 160px;
  row-gap: 8px;
}
.articles-content-el .text-header {
  color: #16171B;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.48px;
}
.articles-content-el .text-date {
  color: #484D72;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}

.about {
  padding: 75px 0;
  background-color: #F1F3FF;
  overflow: hidden;
}
.about > div {
  row-gap: 50px;
}
.about .swiper {
  overflow: visible;
  width: 100%;
}
.about-headerWrap {
  column-gap: 40px;
}
.about-description {
  color: #484D72;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  max-width: 710px;
  width: 80%;
}
.about-slide {
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  width: auto !important;
}
.about-slide img {
  max-height: 360px;
  max-width: 600px;
  object-fit: cover;
  object-position: center;
}

.contactsBlock {
  padding: 75px 0 150px;
  background-color: #F1F3FF;
}
.contactsBlock-mapWrap {
  position: relative;
  z-index: 0;
}
.contactsBlock-map {
  width: 100%;
  min-height: 650px;
  border-radius: 30px;
  overflow: hidden;
  z-index: -1;
}
.contactsBlock-info {
  row-gap: 8px;
  padding: 40px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: 40px;
}
.contactsBlock-info-header {
  color: #16171B;
  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.6px;
}
.contactsBlock-info-contact {
  color: #16171B;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}
.contactsBlock-info-time {
  color: #484D72;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.footer {
  padding: 40px 0 30px;
  background-color: #484D72;
}
.footer > div {
  row-gap: 70px;
}
.footer-content {
  column-gap: 40px;
}
.footer-bottom-link {
  color: #F1F3FF;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.footer-logo img {
  height: 50px;
}
.footer-links {
  row-gap: 10px;
}
.footer-links p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}
.footer-contacts {
  row-gap: 20px;
}
.footer-contacts-el {
  row-gap: 6px;
}
.footer-contacts-el .label {
  color: #F1F3FF;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.footer-contacts-el .contact {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}
.footer-contacts .btn.btn-white-trnsp {
  padding: 16px 26px;
}

.ask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1100;
  overflow: hidden;
}
.ask.active {
  display: flex;
}
.ask.active .ask-block {
  opacity: 1;
  transform: translate(0, 0);
}
.ask-overlay {
  position: absolute;
  cursor: pointer;
  z-index: -1;
  background-color: rgba(53, 53, 53, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.ask-block {
  max-width: 1025px;
  position: relative;
  width: calc(100% - 40px);
  padding: 50px;
  background-color: #fff;
  border-radius: 30px;
  column-gap: 55px;
  opacity: 0;
  transform: translate(0, -100px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.ask-block-text {
  row-gap: 30px;
}
.ask-block-image {
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  max-width: 340px;
}
.ask-block .text {
  row-gap: 20px;
}
.ask-block .text .request {
  color: #16171B;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.68px;
}
.ask-block .text .request2 {
  color: #484D72;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
.ask-block form {
  margin-bottom: 0;
  row-gap: 20px;
}
.ask-block form > div {
  row-gap: 20px;
}
.ask-block form .ask-block-fields {
  width: 100%;
  row-gap: 20px;
}
.ask-block form .ask-block-fields input {
  padding: 14px 15px 14px 30px;
  background: #FFFFFF;
  border-radius: 60px;
  border: 1px solid #484D72;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  color: #484D72;
}
.ask-block form .ask-block-fields input::placeholder {
  color: #484D72;
  opacity: 0.6;
}
.ask-block form .ask-block-fields #ask {
  padding: 12px 13px;
}
.ask-block form .ask-block-fields > div {
  width: 100%;
  position: relative;
}
.ask-block form .btn {
  padding: 10px 15px;
}
.ask-block form p.text-center {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #999999;
  margin: 0;
}
.ask-block form p.text-center a {
  color: #999999;
  text-decoration: underline;
}


.doctorsContainer {
  padding-top: 40px;
  background-color: #F1F3FF;
}



.doctorsСontainer {
  padding-top: 50px;
  background-color: #F1F3FF;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: none;
    padding: 0 20px;
    margin: 0;
  }
  .ask-block {
    column-gap: 50px;
  }
  .ask-block-text {
    row-gap: 30px;
  }
  .ask-block-image {
    min-width: 340px;
  }
  .mainSlider {
    padding: 35px 0 75px;
  }
  .mainSlider-slide > div .text {
    padding: 50px 55px 50px 40px;
  }
  .mainSlider-slide > div .text .bckgIcon {
    bottom: 23px;
    right: 40px;
  }
  .mainSlider-slide > div .text-content p {
    max-width: unset;
  }
  .services-tabsContent {
    grid-template-columns: 1fr 1fr;
  }
  .services-tabsContent > div:not(.onlyImage, .additionalImage) {
    min-height: 275px;
  }
  .services-tabsContent .additionalImage {
    right: 30px;
    top: 35px;
  }
  .services-tabsContent .additionalImage img {
    max-height: 180px;
  }
  .ourWorks-content {
    row-gap: 30px;
    padding: 50px;
  }
  .ourWorks-slide {
    column-gap: 50px;
  }
  .ourWorks-slide .compareWrap {
    row-gap: 20px;
    width: 100%;
  }
  .ourWorks-slide .compareWrap .compare {
    min-width: 300px;
    min-height: 220px;
    height: 100%;
  }
  .ourWorks-slide .compare-handler {
    width: 52px;
    height: 48px;
  }
  .ourWorks-slide .compare-handler img {
    width: 33px;
    height: 33px;
  }
  .ourWorks-slide .description {
    row-gap: 40px;
    max-width: unset;
  }
  
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: none;
    padding: 0 20px;
    margin: 0;
  }
  .btn {
    font-size: 16px;
  }
  .ask-block {
    padding: 40px;
    column-gap: 50px;
  }
  .ask-block-text {
    row-gap: 30px;
  }
  .ask-block-image {
    border-radius: 30px;
    max-width: 280px;
    min-width: 275px;
  }
  .ask-block .text {
    row-gap: 10px;
  }
  .ask-block .text .request {
    font-size: 28px;
    letter-spacing: -0.56px;
  }
  .ask-block .text .request2 {
    font-size: 16px;
  }
  .ask-block form {
    row-gap: 30px;
  }
  .ask-block form > div {
    row-gap: 20px;
  }
  .ask-block form .ask-block-fields {
    row-gap: 20px;
  }
  .ask-block form .btn {
    padding: 10px 15px;
  }
  .favorites-header, .employeesSlider-header, .ourWorks-header, .reviewsSlider-header, .articles-header, .about-header {
    font-size: 28px;
    letter-spacing: -0.56px;
  }
  .favorites {
    padding: 55px 0;
  }
  .favorites-content {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .favorites-content .onlyImage {
    min-height: 210px;
  }
  .favorites-content-el {
    padding: 30px;
    column-gap: 30px;
    grid-column: span 2;
  }
  .favorites-content-el .text {
    row-gap: 8px;
  }
  .favorites-content-el .text-header {
    font-size: 22px;
    letter-spacing: -0.44px;
  }
  .favorites-content-el .text-description {
    font-size: 16px;
  }
  .favorites-content-el .photo img {
    width: 50px;
    height: 50px;
  }
  .mainSlider {
    padding: 25px 0 55px;
  }
  .mainSlider-slide > div {
    column-gap: 18px;
  }
  .mainSlider-slide > div .text {
    padding: 50px 40px;
  }
  .mainSlider-slide > div .text .bckgIcon {
    bottom: 47px;
    right: 31px;
  }
  .mainSlider-slide > div .text-content {
    row-gap: 22px;
  }
  .mainSlider-slide > div .text-content h2 {
    font-size: 27px;
  }
  .mainSlider-slide > div .text-content p {
    font-size: 16px;
  }
  .mainSlider-slide > div .photo {
    max-width: 302px;
  }
  .mainSlider-slide > div .photo img {
    height: 100%;
  }
  .services {
    padding: 55px 0;
  }
  .services > div {
    row-gap: 26px;
  }
  .services-preHeader p {
    color: #16171B;
    font-size: 20px;
    letter-spacing: -0.4px;
  }
  .services-content {
    row-gap: 52px;
  }
  .services-tabs-el {
    font-size: 28px;
    letter-spacing: -0.56px;
  }
  .services-tabs-el::after {
    height: 2.5px;
  }
  .services-tabsContent {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .services-tabsContent > div:not(.onlyImage, .additionalImage) {
    background-color: #fff;
    padding: 30px;
    min-height: 225px;
    gap: 14px;
  }
  .services-tabsContent > div:not(.onlyImage, .additionalImage) .text {
    row-gap: 8px;
  }
  .services-tabsContent > div:not(.onlyImage, .additionalImage) .text h2 {
    font-size: 22px;
    letter-spacing: -0.44px;
  }
  .services-tabsContent > div:not(.onlyImage, .additionalImage) .text p {
    font-size: 16px;
  }
  .services-tabsContent > div:not(.onlyImage, .additionalImage) .badge {
    border-radius: 82px;
  }
  .services-tabsContent > div:not(.onlyImage, .additionalImage) .badge span {
    font-size: 16px;
  }
  .services-tabsContent .additionalImage {
    right: 5px;
    top: 30px;
  }
  .services-tabsContent .additionalImage img {
    max-height: 145px;
  }
  .employeesSlider {
    padding: 55px 0;
  }
  .employeesSlider > div {
    row-gap: 40px;
  }
  .employeesSlider .swiper {
    overflow: visible;
  }
  .employeesSlider-slide .info-text-name {
    font-size: 22px;
    letter-spacing: -0.44px;
  }
  .employeesSlider-slide .info-text-position {
    font-size: 16px;
  }
  .employeesSlider-slide .info-badge p {
    font-size: 16px;
  }
  .ourWorks {
    padding: 55px 0;
  }
  .ourWorks-content {
    padding: 50px 40px;
  }
  .ourWorks-slide {
    row-gap: 40px;
  }
  .ourWorks-slide .compare {
    width: 445px;
  }
  .ourWorks-slide .compareWrap {
    row-gap: 20px;
  }
  .ourWorks-slide .compareWrap .compare {
    height: 315px;
  }
  .ourWorks-slide .textWrap {
    column-gap: 40px;
  }
  .ourWorks-slide .description {
    row-gap: 20px;
    max-width: unset;
    width: 50%;
  }
  .reviewsSlider {
    padding: 55px 0;
  }
  .reviewsSlider > div {
    row-gap: 40px;
  }
  .reviewsSlider .swiper {
    overflow: visible;
  }
  .articles {
    padding: 55px 0;
  }
  .articles > div {
    row-gap: 50px;
  }
  .articles-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .articles-content-el .text {
    min-height: 165px;
  }
  .articles-content-el .text-header {
    font-size: 22px;
    letter-spacing: -0.44px;
  }
  .articles-content-el .text-date {
    font-size: 18px;
  }
  .about {
    padding: 55px 0;
  }
  .about > div {
    row-gap: 40px;
  }
  .about-headerWrap {
    row-gap: 20px;
  }
  .about-description {
    max-width: unset;
    width: 100%;
  }
  .about-slide {
    border-radius: 40px;
  }
  .contactsBlock {
    padding: 55px 0 110px;
  }
  .contactsBlock-map {
    min-height: 440px;
  }
  .contactsBlock-info-header {
    font-size: 28px;
    letter-spacing: -0.56px;
  }
  .footer {
    padding: 40px 0;
  }
  .footer > div {
    row-gap: 50px;
  }
  .footer-content {
    column-gap: 30px;
  }
  .footer-links {
    row-gap: 6px;
  }
  .footer-links p {
    font-size: 16px;
  }
  .footer-contacts-el {
    row-gap: 6px;
  }
  .footer-contacts-el .label {
    font-size: 14px;
  }
  .footer-contacts-el .contact {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: none;
    padding: 0 20px;
    margin: 0;
  }
  .btn {
    font-size: 14px;
  }
  .ask-block {
    padding: 30px 20px;
    max-width: 350px;
  }
  .ask-block-text {
    row-gap: 16px;
  }
  .ask-block .text {
    row-gap: 8px;
  }
  .ask-block .text .request {
    font-size: 20px;
    letter-spacing: -0.4px;
  }
  .ask-block .text .request2 {
    font-size: 14px;
  }
  .ask-block form {
    row-gap: 8px;
  }
  .ask-block form > div {
    row-gap: 8px;
  }
  .ask-block form .ask-block-fields {
    row-gap: 8px;
  }
  .ask-block form .btn {
    padding: 10px 13px;
  }
  .header {
    padding: 20px 0;
  }
  .header-logo img {
    height: 45px;
  }
  .sidebar .closer {
    right: 27px;
  }
  .sidebar-content {
    max-width: 320px;
    padding: 20px;
    row-gap: 16px;
    border-radius: 30px;
  }
  .sidebar-content .menu {
    row-gap: 16px;
  }
  .mainSlider {
    padding: 50px 0 40px;
    background-color: #F1F3FF;
  }
  .mainSlider-slide > div {
    height: unset !important;
    row-gap: 16px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 20px;
  }
  .mainSlider-slide > div .text {
    padding: unset;
  }
  .mainSlider-slide > div .text-content {
    row-gap: 8px;
  }
  .mainSlider-slide > div .text-content h2 {
    font-size: 20px;
    letter-spacing: -0.9px;
  }
  .mainSlider-slide > div .text-content p {
    font-size: 14px;
    max-width: unset;
  }
  .mainSlider-slide > div .text-content .btnWrap {
    padding-top: 12px;
  }
  .mainSlider-slide > div .text-content .btnWrap .btn {
    padding: 10px 24px;
  }
  .mainSlider-slide > div .photo {
    border-radius: 20px;
    max-width: unset;
  }
  .mainSlider-slide > div .photo img {
    aspect-ratio: 1/1;
    object-position: top;
  }
  .mainSlider-slide > div .arrows .swiper-button-next, .mainSlider-slide > div .arrows .swiper-button-prev {
    width: 32px;
    height: 32px;
  }
  .mainSlider-slide > div .arrows span {
    font-size: 14.4px;
    letter-spacing: -0.288px;
  }
  .services {
    padding: 40px 0;
  }
  .services > div {
    row-gap: 16px;
  }
  .services-preHeader p {
    font-size: 16px;
    letter-spacing: -0.32px;
  }
  .services-content {
    row-gap: 32px;
  }
  .services-tabs {
    column-gap: 20px;
  }
  .services-tabs-el {
    font-size: 20px;
    letter-spacing: -0.4px;
  }
  .services-tabs-el::after {
    height: 2px;
    bottom: -8px;
  }
  .services-tabsContent {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .services-tabsContent .onlyImage {
    border-radius: 20px;
    min-height: 150px;
  }
  .services-tabsContent > div:not(.onlyImage) {
    padding: 20px;
    border-radius: 20px;
    min-height: 150px;
    gap: 10px;
  }
  .services-tabsContent > div:not(.onlyImage) .text {
    row-gap: 4px;
  }
  .services-tabsContent > div:not(.onlyImage) .text h2 {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
  .services-tabsContent > div:not(.onlyImage) .text p {
    font-size: 14px;
  }
  .services-tabsContent > div:not(.onlyImage) .badge {
    border-radius: 82px;
  }
  .services-tabsContent > div:not(.onlyImage) .badge span {
    font-size: 14px;
  }
  .favorites-header, .employeesSlider-header, .ourWorks-header, .reviewsSlider-header, .articles-header, .about-header {
    font-size: 20px;
    letter-spacing: -0.4px;
  }
  .favorites {
    padding: 40px 0;
  }
  .favorites > div {
    row-gap: 20px;
  }
  .favorites-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .favorites-content .onlyImage {
    border-radius: 20px;
    min-height: 210px;
  }
  .favorites-content-el {
    padding: 20px;
    border-radius: 20px;
    row-gap: 16px;
  }
  .favorites-content-el .text {
    row-gap: 8px;
  }
  .favorites-content-el .text-header {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
  .favorites-content-el .text-description {
    font-size: 14px;
  }
  .favorites-content-el .photo img {
    width: 40px;
    height: 40px;
  }
  .favorites-content-el.dark {
    grid-column: unset;
  }
  .employeesSlider {
    padding: 40px 0;
  }
  .employeesSlider > div {
    row-gap: 20px;
  }
  .employeesSlider-slide {
    border-radius: 20px;
    max-height: 395px;
    max-width: 260px;
  }
  .employeesSlider-slide .info {
    border-radius: 20px 20px 0 0;
    padding: 24px;
    min-height: 145px;
  }
  .employeesSlider-slide .info-text {
    row-gap: 5px;
  }
  .employeesSlider-slide .info-text-name {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
  .employeesSlider-slide .info-text-position {
    font-size: 14px;
  }
  .employeesSlider-slide .info-badge {
    border-radius: 82px;
    padding: 3px 10px;
  }
  .employeesSlider-slide .info-badge p {
    font-size: 14px;
  }
  .ourWorks {
    padding: 40px 0;
  }
  .ourWorks-headerWrap {
    row-gap: 20px;
  }
  .ourWorks .arrows {
    column-gap: 12px;
  }
  .ourWorks .arrows .swiper-button-next, .ourWorks .arrows .swiper-button-prev {
    width: 32px;
    height: 32px;
  }
  .ourWorks .arrows span {
    font-size: 14px;
    letter-spacing: -0.28px;
  }
  .ourWorks-content {
    row-gap: 20px;
    padding: 30px 20px;
    border-radius: 20px;
  }
  .ourWorks-slide {
    width: 100%;
    row-gap: 16px;
  }
  .ourWorks-slide .compare {
    position: relative;
    min-height: 215px;
    min-width: unset;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    aspect-ratio: 2/1;
  }
  .ourWorks-slide .compare-handler {
    width: 37px;
    height: 37px;
  }
  .ourWorks-slide .compare-handler img {
    width: 24px;
    height: 24px;
  }
  .ourWorks-slide .compareWrap {
    row-gap: 20px;
  }
  .ourWorks-slide .textWrap {
    row-gap: 16px;
  }
  .ourWorks-slide .description {
    row-gap: 16px;
    max-width: unset;
  }
  .ourWorks-slide .description-header p {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
  .ourWorks-slide .description-text p {
    font-size: 14px;
  }
  .ourWorks-slide .description-content {
    row-gap: 10px;
  }
  .ourWorks-slide .person-avatar {
    width: 55px;
    height: 55px;
  }
  .ourWorks-slide .person-text-position {
    font-size: 14px;
  }
  .ourWorks-slide .person-text-name {
    font-size: 16px;
  }
  .reviewsSlider {
    padding: 40px 0;
  }
  .reviewsSlider > div {
    row-gap: 20px;
  }
  .reviewsSlider-slide {
    border-radius: 20px;
    max-height: 395px;
    max-width: 260px;
  }
  .articles {
    padding: 40px 0;
  }
  .articles > div {
    row-gap: 20px;
  }
  .articles .btn.btn-trnsp-dark {
    padding: 12px 26px;
  }
  .articles-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .articles-content-el {
    border-radius: 20px;
    min-height: 260px;
  }
  .articles-content-el .text {
    border-radius: 20px 20px 0 0;
    padding: 20px;
    min-height: 120px;
  }
  .articles-content-el .text-header {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
  .articles-content-el .text-date {
    font-size: 14px;
  }
  .about {
    padding: 40px 0;
  }
  .about > div {
    row-gap: 30px;
  }
  .about-headerWrap {
    row-gap: 10px;
  }
  .about-description {
    max-width: unset;
    width: 100%;
  }
  .about-description p {
    font-size: 14px;
  }
  .about-slide {
    border-radius: 20px;
  }
  .about-slide img {
    max-width: 100%;
    max-height: 170px;
  }
  .contactsBlock {
    padding: 40px 0 80px;
  }
  .contactsBlock-map {
    min-height: 440px;
    border-radius: 20px;
    max-height: 550px;
  }
  .contactsBlock-info {
    row-gap: 8px;
    padding: 20px;
    border-radius: 20px;
    top: unset;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 55px;
    max-width: 260px;
    width: 100%;
  }
  .contactsBlock-info-header {
    font-size: 20px;
    letter-spacing: -0.4px;
  }
  .contactsBlock-info-contact {
    font-size: 14px;
  }
  .contactsBlock-info-time {
    font-size: 12px;
  }
  .footer {
    padding: 40px 0;
  }
  .footer > div {
    row-gap: 30px;
  }
  .footer-content {
    row-gap: 20px;
  }
  .footer-bottom {
    row-gap: 10px;
  }
  .footer-bottom-link {
    font-size: 14px;
  }
  .footer-links {
    row-gap: 6px;
  }
  .footer-links p {
    font-size: 16px;
  }
  .footer-contacts {
    row-gap: 20px;
  }
  .footer-contacts-el {
    row-gap: 6px;
  }
  .footer-contacts-el .label {
    font-size: 14px;
  }
  .footer-contacts-el .contact {
    font-size: 14px;
  }
  .footer-contacts .btn.btn-white-trnsp {
    padding: 12px 26px;
  }
  
}

/*# sourceMappingURL=styles.css.map */
