@use '@assets/styles/vars/colors';

.filtersWrapper{
  padding-top: 45px;
  display: flex;
  justify-content: space-between;

  .selector{
    display: flex;
    align-items: center;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.36px;
    cursor: pointer;
    border-radius: 100px;
    background-color: colors.$whiteColor;
    color: colors.$mainColor;
    border: 2px solid colors.$whiteColor;
    gap: 5px;

    &::after{
      content: url("@assets/img/header/arr_down.svg");
      width: 24px;
      height: 24px;
    }
  }

  .filtersList{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 10px;
  }


  .filtersItem{
    display: flex;
  }
  .item{
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.36px;
    cursor: pointer;
    border-radius: 100px;
    background-color: colors.$whiteColor;
    color: colors.$mainColor;
    border: 2px solid colors.$whiteColor;
    transition: color .3s ease, background-color .3s ease;

    &:hover {
      color: colors.$whiteColor;
      background-color: colors.$mainColor;
    }
  }
}


@media (max-width: 768px) {
  .filtersWrapper{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .selector{
      display: flex;
      justify-content: space-between;
      font-size: 14px;

    }

    .filtersList{
      display: flex;
      flex-wrap: wrap;
      width: 70%;
      gap: 10px;
    }


    .filtersItem{
      display: flex;
    }
    .item{
      padding: 12px 20px;
      font-size: 14px;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -0.36px;
      cursor: pointer;
      border-radius: 100px;
      background-color: colors.$whiteColor;
      color: colors.$mainColor;
      border: 2px solid colors.$whiteColor;
      transition: color .3s ease, background-color .3s ease;

      &:hover {
        color: colors.$whiteColor;
        background-color: colors.$mainColor;
      }
    }
  }


}


