.chat {
  //display: flex;
  //left: 30px;
  //width: 100%;
  //height: 100%;
  z-index: 100;
  position: fixed;
  bottom: 24px;
  right: 14px;

  &Wrapper {
    width: 102px;

    .group {
      row-gap: 12px;

      &Images {
        cursor: pointer;

        .image {
          width: 70px;
          height: 70px;
        }
      }

      &Last {
        cursor: pointer;

        .image {
          width: 102px;
          height: 102px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .chat {
    //display: flex;
    //left: 30px;
    //width: 100%;
    //height: 100%;
    z-index: 100;
    //position: sticky;
    bottom: 14px;
    right: 4px;

    &Wrapper {
      width: 92px;

      .group {
        row-gap: 8px;

        &Images {

          .image {
            width: 60px;
            height: 60px;
          }
        }

        &Last {

          .image {
            width: 92px;
            height: 92px;
          }
        }
      }
    }
  }
}