@use '@assets/styles/vars/colors';
@use '@assets/styles/mixins/fontsStyles';

.footerWrapper {
  padding-top: 40px;
  display: flex;
  background-color: colors.$main;
  color: colors.$white;
}

.logo {
  &::before {
    content: url("@assets/images/footer-logo.svg");
  }
}

.copyright {
  @include fontsStyles.Text2XS;
  color: colors.$white;
  text-decoration: none;
  opacity: .7
}

.contentWrapper {
  //gap: 83px;
}

.navList {
  //gap: 80px;
}